/* Customized Variables */
:root {
    --clr-raisin-black: #252627;
    --clr-harlequin-green: #1b4d31;
    --clr-sea-green: #3a9561;
    --clr-burlywood: #deb887;
    --clr-light-silver: #dad9d8;
    --clr-snow: #fff9fb;
}

/* removes default global styles */
* { 
    color: var(--clr-snow);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-raisin-black);
}

/* Home Page */
#logo-wrapper {
    background-color: black;
    box-shadow: 2px 0 2px 10px var(--clr-harlequin-green);
    height: 5rem;
    margin: 20vh 0 5rem;
}
#logo-homepage {
    border-radius: 5px;
    color: var(--clr-burlywood);
    font-family: 'Playfair Display', serif;
    font-size: 2.6rem;
    line-height: 5rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 17.5rem;
}

#logo-span-1 {
    font-size: 2rem;
    position: absolute;
    top: -2.5rem;
    left: .1rem;
}

#logo-span-2 {
    font-size: 2rem;
    position: absolute;
    top: 2.5rem;
    right: .1rem;
}

/* play button - Home Page */
#play-button {
    background-color: var(--clr-sea-green);
    border-radius: 6px;
    display: block;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    line-height: 2.1rem;
    margin: .5rem auto;
    height: 2.1rem;
    width: 16rem;
    text-align: center;
    text-transform: uppercase;
}
#play-button:hover {
    background-color: #3a956187;
}

/* how to play button - Home Page */
#how-to-play-button {
    background-color: var(--clr-sea-green);
    border: none;
    border-radius: 6px;
    display: block;
    font-size: .9rem;
    letter-spacing: .1rem;
    line-height: 2.1rem;
    margin: .5rem auto;
    height: 2.1rem;
    width: 16rem;
    text-transform: uppercase;
}

#how-to-play-button:hover {
    background-color: #3a956187;
    cursor: pointer;
}

/* GAME PAGE */
/* navbar - Game Page */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

#logo-wrapper-gamepage {
    background-color: black;
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 0 2px 5px var(--clr-harlequin-green);
    margin: .3rem 0;
    height: 3rem;
    width: 100%;
}

#logo-gamepage {
    line-height: 3rem;
    text-align: center;
    width: 100%;
}
#logo-gamepage > a {
    color: var(--clr-burlywood);
}
#logo-gamepage span {
    font-size: 1.1rem;
}

#nav-menu {
    display: flex;
    column-gap: 1.5rem;
    font-size: 1.1rem;
    justify-content: space-around;
    width: 80%;
}

/* game area section */
#game-area {
    margin: 5% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
}

/* progress bar */
progress {
    width: 80%;
    height: 3rem;
}

/* display of money progress */
#money-container {
    background-color: white;
    border-radius: 4px;
    min-height: 3rem;
    max-height: 5rem;
    width: 80%;
    overflow: auto;
}

#money-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .6rem 0;
}

#money-list > li {
    color: var(--clr-raisin-black);
    font-size: 1.5rem;
    margin: .2rem 0;
}

/* life lines */
#life-lines {
    display: flex;
    column-gap: 2rem;
    row-gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;
    width: 100%;
}

#life-lines > h2 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.life-line-item {
    display: inline-block;
    border: 1px solid var(--clr-light-silver);
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
}

.life-line-item:hover {
    background-color: rgb(224, 229, 220);
}

.fas {
    color: var(--clr-sea-green);
    font-size: 2.3rem;
    margin: .6rem 0;
}

/* question area */
#question-container {
    background-image: linear-gradient(to right, #264137, #598c34);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 1.5rem;
    position: relative;
    text-align: center;
    min-height: 8rem;
    width: 100%;
}
/* question label */
#question-container > h2 {
    text-shadow: 0 0 5px var(--clr-raisin-black);
    font-size: 1.2rem;
}

#question-text {
    color: var(--clr-snow);
    text-shadow: 0 0 5px var(--clr-raisin-black);
    font-size: 1.2rem;
    margin: .8rem 0 0;
}

#timer {
    background-color: #264137;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 2.6rem;
    text-align: center;
    height: 2.6rem;
    width: 2.6rem;
    position: absolute;
    right: 8%;
    top: .5rem;
}

#answers-container {
    display: flex;
    row-gap: .4rem;
    flex-direction: column;
    margin: 5% 0;
    width: 85%;
}

.answer-button {
    background-color: #34684a;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    min-height: 2.5rem;
    padding: .1rem 1rem;
    text-align: left;
    color: var(--clr-snow);
    text-shadow: 0 0 10px var(--clr-raisin-black);
}

.answer-button:hover {
    background-color: var(--clr-sea-green);
    border: 1px solid var(--clr-burlywood);
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
    #game-area {
        min-height: 50rem;
        justify-content: center;
    }
}

@media (min-width: 900px) {
    #question-container {
        width: 56.25rem;
    }
    #answers-container {
        width: 56.25rem;
        display: flex;
        column-gap: .5rem;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }
    .answer-button {
        width: 49%;
    }
} 