/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto+Slab:wght@400;600&family=Roboto:wght@300;400&display=swap');

/* Customized Variables */
:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-raisin-black: #252627;
    --clr-outer-space: #264137;
    --clr-mughal-green: #336633;
    --clr-deep-moss: #266340;
    --clr-sea-green: #3a9561;
    --clr-dark-sea: #93C393;
    --clr-burlywood: #deb887;
    --clr-light-silver: #dad9d8;
}

/* DEFAULT STYLING */

* { 
    color: var(--clr-white);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-raisin-black);
    height: 100%;
}

/* UTILITY CLASSES <-- [Start] */

.disabled-btn {
    pointer-events: none;
}

.disabled-btn-opacity {
    opacity: .2;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.overlay-bg {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.overlay-bgcolor {
    background-color: #25262775;
}

.btn-border {
    border: none;
    border-radius: 6px;
}

.btn-color {
    background-color: var(--clr-deep-moss);
}

.lightbox-bgcolor {
    background-color: var(--clr-raisin-black);
}

.lightbox-border {
    box-shadow: 0 0 5px 4px var(--clr-deep-moss);
}

/* UTILITY CLASSES <-- [End] */

/* HOME PAGE <-- [Start] */

#homepage-body {
    box-sizing: border-box;
    padding: 15vh 0 0;
    min-height: 320px;
}

/* homepage logo */
#logo-wrapper {
    background-color: var(--clr-black);
    box-shadow: 2px 0 2px 10px var(--clr-mughal-green);
    height: 5rem;
    margin-bottom: 12vh;
}

#logo-homepage {
    border-radius: 5px;
    color: var(--clr-burlywood);
    font-family: 'Playfair Display', serif;
    font-size: 2.6rem;
    line-height: 5rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 17.5rem;
}

#logo-span-1 {
    font-size: 2rem;
    position: absolute;
    top: -2.5rem;
    left: .1rem;
}

#logo-span-2 {
    font-size: 2rem;
    position: absolute;
    top: 2.5rem;
    right: .1rem;
}

#play-button {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 2.1rem;
    margin: .5rem auto;
    height: 2.1rem;
    width: 14rem;
    text-align: center;
    text-transform: uppercase;
}

/* 'how to play' button */
#howtoplay-btn-homepage {
    display: block;
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 2.1rem;
    margin: .5rem auto;
    height: 2.1rem;
    width: 14rem;
    text-transform: uppercase;
}

/* HOME PAGE <-- [End] */

/* GAME PAGE <-- [Start] */

#gamepage-body {
    display: flex;
    flex-direction: column;
}

/* contains logo & nav menu */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

/* game page logo */
#logo-wrapper-nav {
    background-color: var(--clr-black);
    font-family: 'Playfair Display', serif;
    box-shadow: 2px 0 2px 5px var(--clr-mughal-green);
    margin: .3rem 0;
    height: 3rem;
    width: 100%;
}

#logo-nav {
    line-height: 3rem;
    text-align: center;
    width: 100%;
}

#logo-nav {
    color: var(--clr-burlywood);
}

#logo-nav > span {
    font-size: 1.1rem;
}

#nav-menu {
    display: flex;
    column-gap: 1rem;
    justify-content: space-around;
    width: 90%;
}

/* home link */
#nav-menu > a {
    font-size: 1rem;
    padding: 0 .5rem;
}

/* 'how to play & 'quit' buttons */
#howtoplay-btn-gamepage,
#quit-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0 .5rem;
}

/* outer wrapper of game area */
#game-area-wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

/* where all game interactions happen */
#game-area {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

#player-wrapper {
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    column-gap: .5rem;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#player-wrapper > * {
    font-size: .9rem;
}

/* container for player's current cash earned */
#cash-earned-container {
    border: 2px solid var(--clr-deep-moss);
    border-radius: 20px;
    box-shadow: 0 0 5px 4px var(--clr-deep-moss);
    padding: .5rem 1rem;
}

/* username & cash value earned */
#player-name,
#money-earned {
    color: var(--clr-burlywood);
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* prize money display */
#money-container {
    background-image: linear-gradient(#F0E699, #E1CD33, #B6A733);
    border-radius: 4px;
    height: 3rem;
    width: 90%;
    overflow: auto;
    scrollbar-width: none;    /* hides scrollbar in Firefox */
}

/* hides scrollbar in Chrome, Safari, & Edge */
#money-container::-webkit-scrollbar {
    width: 0;
}

#money-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .5rem 0;
}

/* individual cash prize */
[data-prize] {
    background-color: var(--clr-dark-sea);
    box-shadow: 0 0 3px 2px var(--clr-sea-green) inset;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    margin: .2rem 0;
    position: relative;
    color: var(--clr-raisin-black);
}

/* highlights cash prizes */
.highlight-prize {
    background-color: var(--clr-deep-moss);
    color: var(--clr-white);
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px var(--clr-light-silver);
    border-radius: 10px;
    min-width: 70%;
    text-align: center;
    padding: 0 1rem;
}

/* star icon on cash prize */
.star {
    position: absolute;
    left: -10px;
    top: -7px;
    width: 3.2rem;
}

#life-lines {
    display: flex;
    column-gap: 2rem;
    row-gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* heading for lifelines */
#life-lines > h2 {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
}

.life-line-item {
    background: none;
    display: inline-block;
    border: 1px solid var(--clr-light-silver);
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.lifeline-icon {
    color: var(--clr-sea-green);
    font-size: 2.3rem;
    margin: .6rem 0;
}

/* lifeline tooltips */
[data-lifeline="remove-one-option"] .tooltip,
[data-lifeline="remove-two-options"] .tooltip,
[data-lifeline="add-to-timer"] .tooltip {
    background-color: #085232d4;
    border-radius: 10px 2px;
    font-size: .7rem;
    position: absolute;
    top: -.9rem;
    left: -2rem;
    width: 6rem;
    display: none;
    z-index: 1;
}

#question-container {
    background-image: linear-gradient(to right, var(--clr-outer-space), var(--clr-deep-moss), var(--clr-sea-green));
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    position: relative;
    text-align: center;
    min-height: 8rem;
    width: 100%;
}

/* question heading */
#question-container > h2 {
    text-shadow: 0 0 5px var(--clr-raisin-black);
    font-size: 1rem;
}

/* main question text */
#question-text {
    color: var(--clr-white);
    text-shadow: 0 0 5px var(--clr-raisin-black);
    font-size: 1rem;
    margin: .8rem 0 0;
}

#timer {
    background-color: var(--clr-outer-space);
    border: 2px solid var(--clr-light-silver);
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 2.6rem;
    text-align: center;
    height: 2.6rem;
    width: 2.6rem;
    position: absolute;
    right: 1rem;
    top: -1.5rem;
}

#answers-container {
    display: flex;
    row-gap: .4rem;
    flex-direction: column;
    width: 85%;
}

/* button for answer option */
.answer-button {
    background-color: var(--clr-deep-moss);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-height: 2.5rem;
    padding: .1rem 1rem;
    text-align: left;
    color: var(--clr-white);
    text-shadow: 0 0 10px var(--clr-raisin-black);
    position: relative;
    cursor: pointer;
}

/* check mark appears when answer is correct */
.correct-answer::after {
    content: url('../images/checked.png');
    transform: scale(.3);
    position: absolute;
    top: -50px;
    left: -35px;
}

/* x-mark appears when answer is wrong */
.wrong-answer:after {
    content: url('../images/cross.png');
    transform: scale(.25);
    position: absolute;
    top: -45px;
    left: -45px;
}

/* GAME PAGE <-- [End] */

/* 404 PAGE <-- [Start] */

#page-404-body {
    display: flex;
    flex-direction: column;
}

#page-404-outer-wrapper {
    box-sizing: border-box;
    padding: 10vh 0 15vh;
}

#page-404-inner-wrapper {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* heading */
#page-404-inner-wrapper > h1 {
    font-size: 1.5rem;
}

#page-404-info-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#page-404-info-box > p {
    font-size: 1.1rem;
    padding: 0 10%;
    text-align: center;
}

/* return home button */
#page-404-info-box > a {
    display: block;
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin: 1.5rem auto 0;
    width: 14rem;
    text-align: center;
}

/* 404 PAGE <-- [End] */

/* ENTER NAME Lightbox <-- [Start] */

#username-inner-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.8rem;
    width: 80%;
    min-height: 18rem;
    height: 60vh;
    max-height: 22rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

/* heading */
#username-inner-wrapper > h2 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.close-username-container {
    height: 90%;
    position: absolute;
    right: 8%;
}

/* 'x' icon to close lightbox*/
#close-username {
    background: none;
    border: none;
    position: sticky;
    top: 0;
}

#close-username-icon {
    color: var(--clr-sea-green);
    font-size: 2.5rem;
}

#username-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

/* input box of player's name */
#username {
    box-sizing: border-box;
    color: var(--clr-black);
    font-size: 1.1rem;
    width: 12rem;
    height: 2rem;
    padding: .5rem 1rem;
    text-align: center;
}

/* 'let's play' button */
#username-btn {
    font-size: 1.1rem;
    width: 9rem;
    line-height: 1.8rem;
    cursor: pointer;
}

/* flash messages */
#username-feedback {
    font-size: .9rem;
    display: block;
    height: 2rem;
    padding: 0 1rem;
}

/* ENTER NAME Lightbox <-- [End] */

/* HOW TO PLAY Lightbox <-- [Start] */

#howtoplay-inner-wrapper {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    row-gap: 1rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    width: 78%;
    height: 70vh;
    max-height: 41rem;
    overflow: auto;
    position: relative;
    scrollbar-color: var(--clr-sea-green) var(--clr-deep-moss);    /* styles scrollbar in Firefox */
    scrollbar-width: thin;    /* styles scrollbar thumb in Firefox */
}

/* styles scrollbar in Chrome, Safari, & Edge */
#howtoplay-inner-wrapper::-webkit-scrollbar {
    background-color: var(--clr-deep-moss);
    width: 5px;
}

/* styles scrollbar thumb in Chrome, Safari, & Edge */
#howtoplay-inner-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--clr-sea-green);
    border-radius: 5px;
}
    
/* sticks the 'x' close icon to the right top of its
containing scrollable div - code copied from stackoverflow: 
https://stackoverflow.com/questions/65514077/stick-buttons-to-the-right-top-of-an-scrollable-div */
.close-howtoplay-container {
    height: 0;
    position: sticky;
    right: 8%;
    top:0;
    left: 0;
    width: 100%;
    text-align: right;
}

/* 'x' icon to close lightbox */
#close-howtoplay {
    background: none;
    border: none;
}

#close-howtoplay-icon {
    color: var(--clr-sea-green);
    font-size: 2.5rem;
}

/* heading */
#howtoplay-heading {
    border-bottom: 2px solid var(--clr-burlywood);
    color: var(--clr-dark-sea);
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 0 1rem;
}

/* sub-headings */
#howtoplay-inner-wrapper h3 {
    color: var(--clr-dark-sea);
    font-size: 1.2rem;
    margin: .8rem 0;
    text-align: center;
}

/* info list */
#howtoplay-inner-wrapper li {
    color: var(--clr-light-silver);
    list-style: disc;
    list-style-position: outside;
    margin: .5rem 0 0 1rem;
}

#lifeline-image {
    display: block;
    margin: .4rem auto 0;
    width: 12rem;
}

/* HOW TO PLAY Lightbox <-- [End] */

/* COUNTDOWN TO START Lightbox <-- [Start] */

#countdown-inner-wrapper {
    background-color: var(--clr-outer-space);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

/* countdown number */
#countdown {
    color: var(--clr-light-silver);
    display: block;
    font-size: 10rem;
    text-align: center;
    line-height: 15rem;
}

/* COUNTDOWN TO START Lightbox <-- [End] */

/* GAME OVER Lightbox <-- [Start] */

#gameover-inner-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    width: 78%;
    min-height: 15rem;
    height: 50vh;
    max-height: 18rem;
    padding: 1.7rem 1rem;
}

/* heading */
#gameover-inner-wrapper > h2 {
    color: var(--clr-dark-sea);
    font-size: 2rem;
    margin-bottom: .5rem;
}

/* Game Over message */
#gameover-inner-wrapper p,
#gameover-inner-wrapper span {
    color: var(--clr-light-silver);
    font-size: 1.2rem;
    text-align: center;
}

/* buttons - Game Over */
#gameover-inner-wrapper > button,
#gameover-inner-wrapper > a {
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 12rem;
    text-align: center;
    cursor: pointer;
}

/* 'Play Again' button */
#gameover-inner-wrapper > button {
    margin-top: 1rem;
}

/* GAME OVER Lightbox <-- [End] */

/* GAME WON Lightbox <-- [Start] */

#gamewon-inner-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    width: 78%;
    min-height: 15rem;
    height: 50vh;
    max-height: 18rem;
    padding: 1.7rem 1rem;
}

/* heading */
#gamewon-inner-wrapper > h2 {
    color: var(--clr-dark-sea);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* player's name */
#username-gamewon {
    color: var(--clr-dark-sea);
    font-size: 1.8rem;
}

/* message */
#gamewon-inner-wrapper p {
    color: var(--clr-light-silver);
    font-size: 1.5rem;
    text-align: center;
}

/* €1 million! */
#grand-prize {
    color: var(--clr-light-silver);
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: 600;
}

/* buttons */
#gamewon-inner-wrapper button,
#gamewon-inner-wrapper a {
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 12rem;
    text-align: center;
    cursor: pointer;
}

/* 'Play Again' button */
#gamewon-inner-wrapper > button {
    margin-top: 1rem;
}

/* GAME WON Lightbox <-- [End] */

/* QUIT Lightbox <-- [Start] */

#quit-inner-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    width: 78%;
    min-height: 15rem;
    height: 50vh;
    max-height: 18rem;
    padding: 1.7rem 1rem;
}

/* heading */
#quit-inner-wrapper > h2 {
    color: var(--clr-dark-sea);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* message */
#quit-inner-wrapper p {    
    color: var(--clr-light-silver);
    font-size: 1.2rem;
    text-align: center;
}

/* buttons */
#quit-inner-wrapper button,
#quit-inner-wrapper a {
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 12rem;
    text-align: center;
    cursor: pointer;
}

/* 'Play Again' button */
#quit-inner-wrapper > button {
    margin-top: 1rem;
}

/* QUIT Lightbox <-- [End] */

/* MEDIA QUERIES <-- [Start] */

/* hover styling for hover-capable devices only - 
idea taken from CSS-TRICKS website (link found in README Credits section) */
@media (hover: hover) {
    #howtoplay-btn-homepage:hover,
    #play-button:hover,
    #username-btn:hover,
    #quit-inner-wrapper button:hover,
    #quit-inner-wrapper a:hover,
    #page-404-info-box > a:hover,
    #gameover-inner-wrapper > button:hover,
    #gameover-inner-wrapper > a:hover,
    #gamewon-inner-wrapper > button:hover,
    #gamewon-inner-wrapper > a:hover {
        background-color: var(--clr-dark-sea);
        color: var(--clr-raisin-black);
        cursor: pointer;
    }

    #nav-menu li:hover {
        background-color: var(--clr-deep-moss);
        border-radius: 6px;
    }

    .life-line-item:hover {
        background-color: var(--clr-white);
    }

    [data-lifeline="remove-one-option"]:hover .tooltip,
    [data-lifeline="remove-two-options"]:hover .tooltip,
    [data-lifeline="add-to-timer"]:hover .tooltip {
        display: block;
    }

    #close-username:hover,
    #close-howtoplay:hover {
        color: var(--clr-dark-sea);
        cursor: pointer;
    }

    .answer-button:hover {
        background-color: var(--clr-sea-green);
        box-shadow: 0 0 0 2px var(--clr-sea-green);
    }
}

@media (min-width: 360px) {
    /* GAME PAGE */
    #question-container {
        margin-top: 0;
    }

    #question-container > h2 {
        font-size: 1.1rem;
    }
    
    #question-text {
        font-size: 1.1rem;
    }
}

@media (min-width: 390px) {
    /* GAME PAGE */
    #gamepage-body {
        row-gap: .5rem;
    }

	/* home button */
    #nav-menu > a {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        padding: .2rem .8rem;
    }

    /* 'how to play' & 'quit' buttons */
    #howtoplay-btn-gamepage ,
    #quit-btn {
        font-size: 1.1rem;
        padding: .2rem .8rem;
    }

    #game-area {
        border: 3px solid var(--clr-burlywood);
        border-radius: 10px;
        box-sizing: border-box;
    }

    #money-container {
        height: 3.2rem;
    }
    
    #money-list {
        margin: .6rem;
        row-gap: .5rem;
    }

    .star {
        left: -5px;
        width: 3.2rem;
    }

    #player-name {
        font-size: 1.2rem;
    }

    #question-container {
        margin-top: 1rem;
        min-height: 9rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    #timer {
        font-size: 2rem;
        line-height: 3.2rem;
        height: 3.2rem;
        width: 3.2rem;
    }

    .answer-button {
        min-height: 2.8rem;
    }

    .correct-answer::after {
        top: -45px;
    }

    .wrong-answer:after {
        top: -42px;
    }

    /* HOW TO PLAY lightbox */
    #howtoplay-inner-wrapper {
        font-size: 1rem;
    }

    #howtoplay-inner-wrapper h3 {
        font-size: 1.3rem;
    }
}

@media (min-width: 600px) {
    /* HOME PAGE */
    #logo-wrapper {
        height: 7rem;
    }
    
    #logo-homepage {
        font-size: 3rem;
        line-height: 7rem;
        width: 20rem;
    }
    
    #logo-span-1 {
        font-size: 2.2rem;
        position: absolute;
        top: -2.8rem;
    }
    
    #logo-span-2 {
        font-size: 2.2rem;
        top: 2.8rem;
    }

    #play-button {
        font-size: 1.3rem;
    }
    
    #howtoplay-btn-homepage {
        font-size: 1.1rem;
    }

    #play-button,
    #howtoplay-btn-homepage {
        height: 2.4rem;
        line-height: 2.4rem;
        width: 16rem;
    }

    /* GAME PAGE */
    #gamepage-body {
        row-gap: 1rem;
    }

    #logo-wrapper-nav {
        height: 4rem;
    }

    #logo-nav {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    #logo-nav span {
        font-size: 1.6rem;
    }

    #nav-menu > a,
    #howtoplay-btn-gamepage,
    #quit-btn {
        font-size: 1.2rem;
    }

    #game-area {
        margin: 0 auto;
        width: 37.5rem;
    }

    #player-wrapper > * {
        font-size: 1rem;
    }
    
    #player-name {
        font-size: 1.3rem;
    }

    #money-container {
        width: 30rem;
    }

    .life-line-item {
        width: 4rem;
        height: 4rem;
    }

    .lifeline-icon {
        font-size: 3rem;
    }

    #question-container {
        margin-top: 1.5rem;
        min-height: 10rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 37rem;
    }

    #question-text {
        font-size: 1.2rem;
    }
    
    #timer {
        right: 2rem;
    }

    #answers-container {
        width: 31.875rem;
    }

    .answer-button {
        min-height: 3.5rem;
    }

    .correct-answer::after {
        top: -40px;
    }

    .wrong-answer:after {
        top: -38px;
    }

    /* 404 PAGE */
    #page-404-inner-wrapper > h1 {
        font-size: 1.8rem;
    }

    #page-404-info-box > p {
        font-size: 1.2rem;
        padding: 0 5rem;
    }

    #page-404-info-box > a {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 16rem;
    }

	/* ENTER NAME Lightbox */
    #username-inner-wrapper {
        width: 32.35rem;
    }

    #username-inner-wrapper > h2 {
        font-size: 1.5rem;
    }
    
    #username {
        font-size: 1.2rem;
        height: 2.2rem;
        width: 16rem;
    }

    #username-btn {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 14rem;
    }

    #username-feedback {
        font-size: 1rem;
    }

    /* HOW TO PLAY Lightbox */
    #howtoplay-inner-wrapper {
        font-size: 1.1rem;
        padding: 1.5rem 3rem;
        width: 32rem
    }

    #lifeline-image {
        width: 14rem;
    }

    /* GAME OVER Lightbox */
    #gameover-inner-wrapper {
        width: 32.35rem;
        min-height: 16rem;
    }

    #gameover-inner-wrapper h2 {
        font-size: 2.2rem;
    }

    #gameover-inner-wrapper p,
    #gameover-inner-wrapper span {
        font-size: 1.6rem;
    }

    #gameover-inner-wrapper > button,
    #gameover-inner-wrapper > a {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 14rem;
    }

    /* GAME WON Lightbox */
    #gamewon-inner-wrapper {
        width: 32.35rem;
        min-height: 16rem;
    }
    
    #gamewon-inner-wrapper > h2 {
        font-size: 2.2rem;
    }
    
    #username-gamewon {
        font-size: 2.2rem;
    }

    #gamewon-inner-wrapper > p {
        font-size: 2rem;
    }

    #gamewon-inner-wrapper > button,
    #gamewon-inner-wrapper > a {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 14rem;
    }

    /* QUIT Lightbox */
    #quit-inner-wrapper {
        width: 32.35rem;
        min-height: 16rem;
    }

    #quit-inner-wrapper h2 {
        font-size: 2.2rem;
    }

    #quit-inner-wrapper p {
        font-size: 1.6rem;
    }

    #quit-inner-wrapper button,
    #quit-inner-wrapper a {
        font-size: 1.3rem;
        line-height: 2.4rem;
        width: 14rem;
    }
}

@media (min-width: 900px) {
    /* GAME PAGE */
    #logo-wrapper-nav {
        height: 5rem;
    }

    #logo-nav {
        font-size: 3rem;
        line-height: 5rem;
    }

    #logo-nav span {
        font-size: 2rem;
    }

    #nav-menu {
        width: 50.8rem;
    }

    #nav-menu > a,
    #howtoplay-btn-gamepage,
    #quit-btn {
        font-size: 1.3rem;
    }

    #game-area {
        margin: 0 auto 3rem;
        padding: 1.5rem 1rem;
        width: 55rem;
    }

    #player-wrapper {
        width: 100%;
    }

    #player-wrapper > * {
        font-size: 1.2rem;
    }

    #player-name,
    #money-earned {
        font-size: 1.5rem;
    }

    #life-lines {
        column-gap: 6rem;
        width: 54rem;
    }

    #question-container {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 54rem;
    }

    #question-container > h2 {
        font-size: 1.3rem;
    }

    #question-text {
        font-size: 1.3rem;
    }

    #timer {
        font-size: 2.5rem;
        line-height: 4.5rem;
        height: 4.5rem;
        width: 4.5rem;
        top: -2.4rem;
        right: 3rem;
    }

    #answers-container {
        width: 54rem;
        display: flex;
        gap: .5rem;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        margin: 0;
    }

    .answer-button {
        font-size: 1.2rem;
        width: 49%;
    }

    .correct-answer::after {
        transform: scale(.35);
     }

     .wrong-answer:after {
        transform: scale(.3);
        left: -42px;
    }

    /* 404 PAGE */
    #page-404-inner-wrapper > h1 {
        font-size: 2rem;
    }

    #page-404-info-box > p {
        font-size: 1.5rem;
    }
} 

@media (min-width: 1080px) {
	/* GAME PAGE*/
    #game-area-wrapper {
        padding: 0 1rem;
    }

    #game-area {
        align-items: flex-start;
        box-sizing: border-box;
        position: relative;
        width: 72rem;
    }

    #player-wrapper {
        width: 74%;
    }

    #player-wrapper > h2 {
        width: 50%;
    }

    #life-lines {
        width: 74%;
    }

    #life-lines > h2 {
        font-size: 1.3rem;
    }

    #money-container {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 5px var(--clr-sea-green);
        height: 35rem;
        width: 15rem;
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    }

    #money-list {
        align-items: center;
        flex-direction: column-reverse;
        row-gap: .6rem;
        width: 100%;
    }

    [data-prize] {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
        width: 75%;
    }

    .highlight-prize {
        min-width: 100%;
    }

    .star {
        top: -6px;
        left: 0;
        width: 2.5rem;
    }

    #question-container {
        width: 74%;
        min-height: 12rem;
    }

    #answers-container {
        width: 74%;
    }

    /* COUNTDOWN TO START Lightbox */
    #countdown-inner-wrapper {
        width: 20rem;
        height: 20rem;
    }
    
    #countdown {
        font-size: 14rem;
        line-height: 20rem;
    }
}

/* MEDIA QUERIES <-- [End] */